<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<listener>
		<listener-class>pwa.AppListener</listener-class>
	</listener>    
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>pwa.companycar.BookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>BookingServlet</servlet-name>
    	<url-pattern>/booking</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>Jersey RESTful Application</servlet-name>
      <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
         <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>pwa.service</param-value>
         </init-param>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Jersey RESTful Application</servlet-name>
   		<url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
   
    <servlet>
	   	<description>
	   	</description>
	   	<display-name>HomeServlet</display-name>
	   	<servlet-name>HomeServlet</servlet-name>
	   	<servlet-class>pwa.HomeServlet</servlet-class>
    </servlet>  
   <servlet-mapping>
   	<servlet-name>HomeServlet</servlet-name>
   	<url-pattern>/home</url-pattern>
   </servlet-mapping>  
   <welcome-file-list>
       <welcome-file>index.html</welcome-file>
       <welcome-file>index.jsp</welcome-file>
       <welcome-file>index.htm</welcome-file>
       <welcome-file>home</welcome-file>
   </welcome-file-list>
 
   
</web-app>
